@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fdfaf3;
  /* Hide number input arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
}